@font-face {
  font-family: 'FolkPro';
  src: url('/fonts/FolkPro _Family/A-OTF-FolkPro-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FolkPro';
  src: url('/fonts/FolkPro _Family/A-OTF-FolkPro-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FolkPro';
  src: url('/fonts/FolkPro _Family/A-OTF-FolkPro-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FolkPro';
  src: url('/fonts/FolkPro _Family/A-OTF-FolkPro-Heavy.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
