<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 {{advance_width}} {{units_per_em}}">
  <defs>
    <path id="glyph-fill" d="{{path_d}}" fill-rule="evenodd"/>
    <clipPath id="glyph-fill-clip" clipPathUnits="userSpaceOnUse">
      <use href="#glyph-fill"/>
    </clipPath>
    <linearGradient id="silver-gradient" x1="0" y1="0" x2="0" y2="{{units_per_em}}" gradientUnits="userSpaceOnUse">
      <!-- silver stops inserted here -->
    </linearGradient>
  </defs>

  <rect id="background" width="{{advance_width}}" height="{{units_per_em}}" fill="{{background_color}}"/>

  <g id="shadow-layer">
    <use href="#glyph-fill" fill="none" stroke="{{shadow_color}}" stroke-width="{{shadow_width}}"/>
  </g>

  <g id="silver-rim-layer">
    <use href="#glyph-fill" fill="none" stroke="url(#silver-gradient)" stroke-width="{{rim_width}}"/>
  </g>

  <g id="fill-layer" clip-path="url(#glyph-fill-clip)">
    <rect width="{{advance_width}}" height="{{units_per_em}}" fill="{{fill_color}}"/>
  </g>

  <g id="inner-highlight-layer">
    <use href="#glyph-fill" fill="none" stroke="{{highlight_color}}" stroke-width="{{highlight_width}}"/>
  </g>
</svg>
